@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: "Rubik", sans-serif;
    text-align: center;
    color: white;

    position: relative;
    min-width: 10px;
    min-height: 10px;
    display: flexbox;

    align-items: center;
}


body{

    background-image: url(BG1.png);

    

    
    display: inline-block;
    max-width: 1920;
    max-height: 1080;
}



.all{
    font-size: 20px;
    display: flex;
    
    width:1200px;
    height:170px;

    padding: 15px;
    border-radius: 5px;

    align-items: center;
    background-color: rgba(0, 0, 0, 0.371);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.youtube{
    position: relative;
    border-radius: 10px;
    width:560px;
    height:315px;

    padding: 12px;
    right: -100px;


    background-color: rgba(0, 0, 0, 0.371);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.box{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.735);
    display: flex;
    position: relative;
    
    width:1200px;
    height:450px;

    padding: 15px;
    border-radius: 5px;

    background-color: rgba(0, 0, 0, 0.371);

    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
a.button{
    position: relative;
    display: inline-block;
    font-size: 20px;
    color: rgb(19, 91, 150);
    background: #ffffff;
    padding: 15px;
    border-radius: 7px;
    text-decoration: none;
    text-align: center;
    transform: translateY(70px);
    right: -260px;
    top: -80px;
    font-weight: 500;
    transition: all 0.2s ease;
}

.header{
    width:97.7%;
    height:10px;

    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    transform: translateX(-10px);

    background-color: rgba(0, 0, 0, 0.188);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.headertxt{
    text-align: right;
    transform: translateY(-20px);
    position: relative;
    display: flexbox;
}

footer{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.282);
}
.logo{
    position: relative;
    width: 30px;
    transform: translateY(-62px);
    display: flex;
}

a.button:hover{
    background-color: rgb(196, 196, 196);   
}


